services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

    networks:
      - app-network

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"

    networks:
      - app-network

    depends_on:
      redis:
        condition: service_healthy

    volumes:
      - redis-insight:/data

  joke:
    build: ./joke-api-service
    ports:
      - "8080:8080"

    networks:
      - app-network

    depends_on:
      redis:
        condition: service_healthy

networks:
  app-network:

volumes:
  redis-insight: